<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="amazingcoders.amazingcoders_android" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Burpple" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Burpple.NoActionBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DealsFeedActivity"
            android:label="@string/title_activity_deals_feed" />
        <activity
            android:name=".activities.FrontPageActivity"
            android:label="@string/title_activity_front_page"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Burpple.NoActionBar.Fullscreen" />
        <activity
            android:name=".activities.SignupActivity"
            android:label="Create Account"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LoginActivity"
            android:label="Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.VenuesFeedActivity"
            android:label="@string/title_activity_venues_feed" >
        </activity>
        <activity
            android:name=".activities.VenuePageActivity"
            android:label="@string/title_activity_venue_page"
            android:parentActivityName=".activities.VenuesFeedActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="amazingcoders.amazingcoders_android.activities.VenuesFeedActivity" />
        </activity>
    </application>

</manifest>
