<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amazingcoders_android" >

    <!-- Hardware requirement for QR code -->
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Google Cloud Messaging -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Request Camera for QR code -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".BurppleApplication"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Burpple" >
        <receiver android:name=".receivers.PushReceiver" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>

        <!-- Google Play service version -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- for QR code Vision API -->
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Burpple.NoActionBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.FrontPageActivity"
            android:label="@string/title_activity_front_page"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Burpple.NoActionBar.Fullscreen" />
        <activity
            android:name=".activities.SignupActivity"
            android:label="Create Account"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LoginActivity"
            android:label="Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.VenuesFeedActivity"
            android:label="@string/title_activity_venues_feed"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.VenuePageActivity"
            android:label="VenuePageActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.DealPageActivity"
            android:label="DealPageActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.DealsFeedActivity"
            android:label="Deals Feed"
            android:screenOrientation="portrait" >
        </activity>

        <!-- services -->
        <service android:name=".services.UpdateServerService" />

        <activity
            android:name=".activities.SearchDealActivity"
            android:label="@string/title_activity_search_deal"
            android:parentActivityName=".activities.DealsFeedActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.amazingcoders_android.activities.DealsFeedActivity" />
        </activity>
        <activity
            android:name=".activities.BarcodeCaptureActivity"
            android:label="Read Barcode"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.BarcodeResultActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.MyRedemptionsActivity"
            android:label="@string/title_activity_my_redemptions"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
